.a1 {
    margin-top: 50px;
    position: absolute;
}
.a2 {
margin-top: 10px;
}

.a2 {
    margin-top: 30px;
}
.a5 {
	border: 2px solid rgb(68,158,116) ;
	border-radius: 3px;
	color: rgb(68,158,116);
	padding: 15px;
	width: 100%;


}
.a6 {
	color: rgb(68,158,116);

	font-size: 20px;
}
#firstname-error {
	color: red;
	width: 30%;
	background: white;
	font-size: 10px;
	padding: 5px;
    border: 2px solid red;
    border-radius: 3px;
    position: absolute;
}

#lastname-error {
	color: red;
	width: 30%;
	background: white;
	font-size: 10px;
	padding: 5px;
    border: 2px solid red;
    border-radius: 3px;
    position: absolute;
}
#fathername-error {
	color: red;
	width: 30%;
	background: white;
	font-size: 10px;
	padding: 5px;
    border: 2px solid red;
    border-radius: 3px;
    position: absolute;
}
#cnic-error {
	color: red;
	width: 30%;
	background: white;
	font-size: 10px;
	padding: 5px;
    border: 2px solid red;
    border-radius: 3px;
    position: absolute;
}